<app-filter-articles></app-filter-articles>

<nz-content>
  <nz-empty
    [nzNotFoundContent]="emptyDescriptionTpl"
    [nzNotFoundFooter]="emptyFooterTpl"
    *ngIf="!articles.length && !loading"
  >
    <ng-template #emptyDescriptionTpl>
      <span>No se encontraron artículos que se correspondan con lo que buscas</span>
    </ng-template>
    <ng-template #emptyFooterTpl>
      <button nz-button nzType="primary" (click)="onClearFilters()">Limpiar filtros</button>
    </ng-template>
  </nz-empty>

  <div class="articles-wall" nz-row [nzGutter]="24" [class.loading]="loading">
    <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="8" [nzXXl]="6" *ngFor="let article of articles">
      <nz-card class="article-card" nzHoverable [nzCover]="coverTpl" [routerLink]="'/article/' + article.id">
        <ng-template #coverTpl>
          <nz-badge class="status-badge" [nzCount]="soldIconTpl" *ngIf="article.status === 'sold'"></nz-badge>
          <ng-template #soldIconTpl>
            <i class="icon-handshake-o"></i>
          </ng-template>

          <nz-badge class="status-badge" [nzCount]="reservedIconTpl" *ngIf="article.status === 'reserved'"></nz-badge>
          <ng-template #reservedIconTpl>
            <i class="icon-bookmark"></i>
          </ng-template>

          <div class="carousel-controls" *ngIf="article.images.length > 1">
            <div class="control-left">
              <button
                nz-button
                nzType="default"
                nzShape="circle"
                class="carousel-arrow arrow-left"
                (click)="$event.stopPropagation(); carousel.pre()"
              >
                <i class="icon-arrow-left2"></i>
              </button>
            </div>
            <div class="control-right">
              <button
                nz-button
                nzType="default"
                nzShape="circle"
                class="carousel-arrow arrow-right"
                (click)="$event.stopPropagation(); carousel.next()"
              >
                <i class="icon-arrow-right2"></i>
              </button>
            </div>
          </div>
          <nz-carousel [nzDots]="false" [nzEnableSwipe]="false" #carousel>
            <div nz-carousel-content *ngFor="let image of article.images">
              <img [src]="apiUrl + '/images/articles/' + image.image" />
            </div>
          </nz-carousel>
        </ng-template>

        <div class="card-header">
          <p nz-text>
            <strong>{{ article.price | currency: 'EUR' }}</strong>
          </p>
          <p nz-text>
            <strong>{{ article.title }}</strong>
          </p>
        </div>

        <div class="card-body">
          <p class="article-description" nz-text nzType="secondary">{{ article.description }}</p>
        </div>
      </nz-card>
    </div>
  </div>

  <nz-pagination
    [(nzPageIndex)]="pagination.page"
    [(nzTotal)]="pagination.total"
    [(nzPageSize)]="pagination.limit"
    [nzShowTotal]="rangeTemplate"
    (nzPageIndexChange)="loadArticles()"
  ></nz-pagination>
  <ng-template #rangeTemplate let-range="range" let-total>
    {{ range[0] }}-{{ range[1] }} de {{ total }} artículos
  </ng-template>
</nz-content>
