<div class="header">
  <h4 nz-title>¡Bienvenido de nuevo!</h4>
  <span nz-text>Escribe tus detalles abajo</span>
</div>

<div class="main-content">
  <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
    <nz-alert
      nzType="error"
      nzMessage="Ha ocurrido un error inesperado. Vuelva a intentarlo más tarde."
      nzShowIcon
      *ngIf="unknownError"
    >
    </nz-alert>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Dirección de email" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Introduce tu email
            </ng-container>
            <ng-container *ngIf="control.hasError('email')">
              Introduce un email válido
            </ng-container>
            <ng-container *ngIf="control.hasError('wrong')">
              No existe ninguna cuenta con ese email
            </ng-container>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control [nzErrorTip]="passwordErrorTpl">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
          <ng-template #passwordErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Introduce tu contraseña
            </ng-container>
            <ng-container *ngIf="control.hasError('wrong')">
              La contraseña es incorrecta
            </ng-container>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzBlock nzType="primary" [nzSize]="'large'" [nzShape]="'round'">
      Iniciar sesión
    </button>
  </form>
</div>

<div class="footer">
  <button nz-button nzType="link" (click)="onResetPassword()">
    Recuperar contraseña
  </button>

  <nz-divider nzType="vertical"></nz-divider>

  <button nz-button nzType="link" (click)="onSignUp()">
    Regístrate
  </button>
</div>
