// Colors
@color-primary: #f44336;
@color-secondary: rgba(0, 0, 0, 0.65);
@color-white: #fff;
@color-light-gray: #f0f2f5;
@color-gray: #ececec;

// Borders
@border-radius: 15px;

// Fonts
@main-font-family: 'Manrope';

@font-face {
  font-family: Manrope;
  src: url('./assets/Manrope-Regular.woff2') format('woff2');
}
