@font-face {
  font-family: 'icomoon';
  src: url('./assets/icomoon.eot?j72y7v');
  src: url('./assets/icomoon.eot?j72y7v#iefix') format('embedded-opentype'),
    url('./assets/icomoon.ttf?j72y7v') format('truetype'), url('./assets/icomoon.woff?j72y7v') format('woff'),
    url('./assets/icomoon.svg?j72y7v#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-soccer-ball:before {
  content: '\e90e';
}
.icon-t-shirt:before {
  content: '\e90f';
}
.icon-team:before {
  content: '\e90f';
}
.icon-group:before {
  content: '\e90f';
}
.icon-gamepad:before {
  content: '\e910';
}
.icon-joystick:before {
  content: '\e910';
}
.icon-dots-three-vertical:before {
  content: '\e91c';
}
.icon-dots-three-horizontal:before {
  content: '\e918';
}
.icon-laptop:before {
  content: '\e911';
}
.icon-arrow-right:before {
  content: '\e902';
}
.icon-arrow-left:before {
  content: '\e90b';
}
.icon-arrow-down:before {
  content: '\e90c';
}
.icon-arrow-up:before {
  content: '\e90d';
}
.icon-upload:before {
  content: '\e903';
}
.icon-plus:before {
  content: '\e904';
}
.icon-send:before {
  content: '\e91a';
}
.icon-child_friendly:before {
  content: '\e912';
}
.icon-file_upload:before {
  content: '\e905';
}
.icon-keyboard_arrow_up:before {
  content: '\e906';
}
.icon-keyboard_arrow_right:before {
  content: '\e907';
}
.icon-keyboard_arrow_left:before {
  content: '\e908';
}
.icon-keyboard_arrow_down:before {
  content: '\e909';
}
.icon-rotate-left:before {
  content: '\e91b';
}
.icon-paw:before {
  content: '\e913';
}
.icon-automobile:before {
  content: '\e914';
}
.icon-car:before {
  content: '\e914';
}
.icon-commenting:before {
  content: '\e90a';
}
.icon-handshake-o:before {
  content: '\e900';
}
.icon-bookmark:before {
  content: '\e901';
}
.icon-home:before {
  content: '\e915';
}
.icon-office:before {
  content: '\e916';
}
.icon-pencil:before {
  content: '\e919';
}
.icon-music:before {
  content: '\e917';
}
.icon-books:before {
  content: '\e920';
}
.icon-coin-euro:before {
  content: '\e93c';
}
.icon-location:before {
  content: '\e947';
}
.icon-clock:before {
  content: '\e94e';
}
.icon-calendar:before {
  content: '\e953';
}
.icon-bubbles2:before {
  content: '\e96d';
}
.icon-search:before {
  content: '\e986';
}
.icon-wrench:before {
  content: '\e991';
}
.icon-stats-bars:before {
  content: '\e99c';
}
.icon-bin:before {
  content: '\e9ac';
}
.icon-briefcase:before {
  content: '\e9ae';
}
.icon-power:before {
  content: '\e9b5';
}
.icon-list2:before {
  content: '\e9bb';
}
.icon-eye:before {
  content: '\e9ce';
}
.icon-eye-blocked:before {
  content: '\e9d1';
}
.icon-star-full:before {
  content: '\e9d9';
}
.icon-heart:before {
  content: '\e9da';
}
.icon-cancel-circle:before {
  content: '\ea0d';
}
.icon-arrow-up2:before {
  content: '\ea3a';
}
.icon-arrow-right2:before {
  content: '\ea3c';
}
.icon-arrow-down2:before {
  content: '\ea3e';
}
.icon-arrow-left2:before {
  content: '\ea40';
}
.icon-sort-alpha-asc:before {
  content: '\ea48';
}
