<div class="container">
  <nz-card>
    <div class="card-header">
      <span nz-typography><strong>Restablecer contraseña</strong></span>
    </div>

    <div class="card-body">
      <form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
        <nz-alert nzType="error" [nzMessage]="error.message" nzShowIcon *ngIf="error"></nz-alert>

        <nz-form-item>
          <nz-form-label>Nueva contraseña</nz-form-label>
          <nz-form-control nzHasFeedback [nzErrorTip]="passErrorTpl">
            <input nz-input formControlName="password" placeholder="Nueva contraseña" type="password" />

            <ng-template #passErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Introduce tu nueva contraseña
              </ng-container>
              <ng-container *ngIf="control.hasError('minlength') || control.hasError('maxlength')">
                La contraseña debe tener entre 6 y 20 caracteres
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Confirmar nueva contraseña</nz-form-label>
          <nz-form-control nzHasFeedback [nzErrorTip]="confirmPassErrorTpl">
            <input
              nz-input
              formControlName="confirmPassword"
              placeholder="Confirmar nueva contraseña"
              type="password"
            />

            <ng-template #confirmPassErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">
                Repite tu nueva contraseña
              </ng-container>
              <ng-container *ngIf="control.hasError('dontMatch')">
                La contraseña no coincide
              </ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>

        <button
          class="submit-btn"
          nz-button
          nzBlock
          nzType="primary"
          [disabled]="!form.valid"
          [nzSize]="'large'"
          [nzShape]="'round'"
        >
          Restablecer contraseña
        </button>
      </form>
    </div>
  </nz-card>
</div>
