<nz-header>
  <button
    nz-button
    [nzType]="filters.category.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="filters.category.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="categoryTitleTpl"
    [nzPopoverContent]="categoryBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i
      class="icon-{{ filters.category.selected ? filters.category.selected.icon : categories[0].icon }}"
      style="margin-right: 2px;"
    ></i>
    {{ filters.category.selected ? filters.category.selected.name : categories[0].name }}
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #categoryTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Elige una categoría en la que buscar</strong></span>
    </div>
  </ng-template>

  <ng-template #categoryBodyTpl>
    <div class="popover-content">
      <div class="categories-wall" nz-row nzGutter="8" nzType="flex">
        <div class="category-col" nz-col [nzXs]="8" [nzSm]="6" [nzMd]="4" *ngFor="let category of categories">
          <div class="category-btn">
            <a
              (click)="onSelectCategory(category)"
              class="category-link"
              [ngClass]="{ active: category === filters.category.selected }"
            >
              <i class="icon-{{ category.icon }} category-icon"></i>
              <span class="category-name">{{ category.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="close-popover">
      <a (click)="closeCategoryPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="filters.price.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="filters.price.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="priceTitleTpl"
    [nzPopoverContent]="priceBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i class="icon-coin-euro"></i>
    <ng-container *ngIf="!filters.price.isApplied">
      Precio
    </ng-container>
    <ng-container *ngIf="filters.price.isApplied">
      {{ filters.price.range[0] | currency: 'EUR' }} - {{ filters.price.range[1] | currency: 'EUR' }}
    </ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #priceTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>¿Cuánto quieres pagar?</strong></span>
    </div>
  </ng-template>

  <ng-template #priceBodyTpl>
    <div class="popover-content">
      <nz-slider
        nzRange
        [nzMin]="0"
        [nzMax]="10000"
        [nzStep]="50"
        [(ngModel)]="filters.price.range"
        (nzOnAfterChange)="onSelectPriceRange()"
      ></nz-slider>

      <div class="slider-inputs">
        <nz-input-number
          class="min-price"
          [nzMin]="filters.price.limits[0]"
          [nzMax]="filters.price.range[1]"
          [(ngModel)]="filters.price.range[0]"
          (focusout)="updateSlider(); onSelectPriceRange()"
        ></nz-input-number>

        <nz-input-number
          class="max-price"
          [nzMin]="filters.price.range[0]"
          [nzMax]="filters.price.limits[1]"
          [(ngModel)]="filters.price.range[1]"
          (focusout)="updateSlider(); onSelectPriceRange()"
        ></nz-input-number>
      </div>
    </div>

    <div class="close-popover">
      <a (click)="closePricePopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="filters.publicationDate.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="filters.publicationDate.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="publicationTitleTpl"
    [nzPopoverContent]="publicationBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i class="icon-clock" style="margin-right: 2px;"></i>
    Publicado hace
    <ng-container *ngIf="filters.publicationDate.isApplied">{{ filters.publicationDate.selected.label }}</ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #publicationTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Publicado hace...</strong></span>
    </div>
  </ng-template>

  <ng-template #publicationBodyTpl>
    <div class="popover-content">
      <ul class="order-list" nz-menu nzMode="inline" [nzInlineIndent]="16">
        <li
          nz-menu-item
          [nzSelected]="filters.publicationDate.selected === option"
          (click)="onSelectPublicationDate(option)"
          *ngFor="let option of filters.publicationDate.options"
        >
          {{ option.label }}
        </li>
      </ul>
    </div>

    <div class="close-popover">
      <a (click)="closePublicationPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="filters.order.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="filters.order.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="orderTitleTpl"
    [nzPopoverContent]="orderBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i class="icon-sort-alpha-asc" style="margin-right: 5px;"></i>
    <ng-container *ngIf="!filters.order.isApplied">Ordenar</ng-container>
    <ng-container *ngIf="filters.order.isApplied">{{ filters.order.selected.label }}</ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #orderTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Ordenar por...</strong></span>
    </div>
  </ng-template>

  <ng-template #orderBodyTpl>
    <div class="popover-content">
      <ul class="order-list" nz-menu nzMode="inline" [nzInlineIndent]="16">
        <li
          nz-menu-item
          [nzSelected]="filters.order.selected === option"
          (click)="onSelectOrder(option)"
          *ngFor="let option of filters.order.options"
        >
          <i class="icon-{{ option.icon }}"></i>
          {{ option.label }}
        </li>
      </ul>
    </div>

    <div class="close-popover">
      <a (click)="closeOrderPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button class="clear-filters" nz-button nzType="link" nzShape="round" (click)="onClearFilters()">
    <i class="icon-cancel-circle"></i>
    Limpiar filtros
  </button>
</nz-header>
