<nz-content>
  <div nz-row [nzGutter]="32">
    <div nz-col [nzMd]="14" [nzLg]="16" [nzXl]="18">
      <nz-tabset [nzTabBarGutter]="5" (nzSelectedIndexChange)="loadTabMap($event)">
        <nz-tab [nzTitle]="forSaleItemsCount + ' Artículos'">
          <app-items-catalog
            [user]="user"
            [mode]="'default'"
            [itemsStatus]="''"
            (itemsCount)="updateForSaleItemsCount($event)"
          ></app-items-catalog>
        </nz-tab>

        <nz-tab [nzTitle]="soldItemsCount + ' Ventas'">
          <app-items-catalog
            [user]="user"
            [mode]="'default'"
            [itemsStatus]="'sold'"
            (itemsCount)="updateSoldItemsCount($event)"
          ></app-items-catalog>
        </nz-tab>

        <nz-tab [nzTitle]="userScore.reviews + ' Valoraciones'">
          <app-reviews-catalog [user]="user" [reviewsStatus]="'others'"></app-reviews-catalog>
        </nz-tab>

        <nz-tab nzTitle="Info">
          <div nz-row [nzGutter]="16">
            <div nz-col [nzSpan]="24">
              <ng-container [ngTemplateOutlet]="userCardTpl"></ng-container>
            </div>

            <div nz-col [nzSpan]="24">
              <nz-card class="location-card" *ngIf="user.location">
                <div class="card-body">
                  <div class="map" #mapTab></div>

                  <p>
                    <i class="icon-location"></i>
                    {{ user.location.placeName }}
                  </p>
                </div>
              </nz-card>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </div>

    <div nz-col [nzXs]="0" [nzMd]="10" [nzLg]="8" [nzXl]="6">
      <ng-container [ngTemplateOutlet]="userCardTpl"></ng-container>
      <nz-card class="location-card" *ngIf="user.location">
        <div class="card-body">
          <div class="map" #mapSide></div>

          <p>
            <i class="icon-location"></i>
            {{ user.location.placeName }}
          </p>
        </div>
      </nz-card>
    </div>
  </div>

  <ng-template #userCardTpl>
    <nz-card class="user-card">
      <div class="card-body">
        <nz-avatar nzIcon="user" [nzSize]="64" [nzSrc]="apiUrl + '/images/avatars/' + user.avatar"></nz-avatar>
        <div class="user-info">
          <span nz-text>
            <strong>{{ user.name | truncate: 17 }}</strong>
          </span>

          <nz-rate [ngModel]="userScore.score" nzDisabled></nz-rate>
        </div>
      </div>
    </nz-card>
  </ng-template>
</nz-content>
