<nz-header>
  <button
    nz-button
    [nzType]="categoryFilter.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="categoryFilter.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="categoryTitleTpl"
    [nzPopoverContent]="categoryBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon [nzType]="categoryFilter.selected.icon" nzTheme="outline"></i>
    {{ categoryFilter.selected.name }}
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #categoryTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Elige una categoría en la que buscar</strong></span>
    </div>
  </ng-template>

  <ng-template #categoryBodyTpl>
    <div class="popover-content">
      <div nz-row nzGutter="16" nzType="flex">
        <div class="category-col" nz-col [nzXs]="8" [nzSm]="6" [nzMd]="4" *ngFor="let category of categories">
          <div class="category-btn">
            <a
              (click)="onSelectCategory(category.id)"
              class="category-link"
              [ngClass]="{ active: category === categoryFilter.selected }"
            >
              <i class="category-icon" nz-icon [nzType]="category.icon" nzTheme="outline"></i>
              <span class="category-name">{{ category.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="close-popover">
      <a (click)="closeCategoryPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="priceFilter.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="priceFilter.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="priceTitleTpl"
    [nzPopoverContent]="priceBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon nzType="euro" nzTheme="outline"></i>
    <ng-container *ngIf="!priceFilter.isApplied">
      Precio
    </ng-container>
    <ng-container *ngIf="priceFilter.isApplied">
      {{ priceFilter.range[0] | currency: 'EUR' }} - {{ priceFilter.range[1] | currency: 'EUR' }}
    </ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #priceTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>¿Cuánto quieres pagar?</strong></span>
    </div>
  </ng-template>

  <ng-template #priceBodyTpl>
    <div class="popover-content">
      <nz-slider
        nzRange
        [nzMin]="priceFilter.limits[0]"
        [nzMax]="priceFilter.limits[1]"
        [(ngModel)]="priceFilter.range"
        (ngModelChange)="onSelectPriceRange()"
      ></nz-slider>

      <div class="slider-inputs">
        <nz-input-number
          class="min-price"
          [nzMin]="priceFilter.limits[0]"
          [nzMax]="priceFilter.range[1]"
          [(ngModel)]="priceFilter.range[0]"
          (ngModelChange)="updateSlider(); onSelectPriceRange()"
        ></nz-input-number>

        <nz-input-number
          class="max-price"
          [nzMin]="priceFilter.range[0]"
          [nzMax]="priceFilter.limits[1]"
          [(ngModel)]="priceFilter.range[1]"
          (ngModelChange)="updateSlider(); onSelectPriceRange()"
        ></nz-input-number>
      </div>
    </div>

    <div class="close-popover">
      <a (click)="closePricePopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="publicationDateFilter.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="publicationDateFilter.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="publicationTitleTpl"
    [nzPopoverContent]="publicationBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
    Publicado hace
    <ng-container *ngIf="publicationDateFilter.isApplied">{{ publicationDateFilter.selected.label }}</ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #publicationTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Publicado hace...</strong></span>
    </div>
  </ng-template>

  <ng-template #publicationBodyTpl>
    <div class="popover-content">
      <ul class="order-list" nz-menu nzMode="inline" [nzInlineIndent]="16">
        <li
          nz-menu-item
          [nzSelected]="publicationDateFilter.selected === option"
          (click)="onSelectPublicationDate(option.value)"
          *ngFor="let option of publicationDateFilter.options"
        >
          {{ option.label }}
        </li>
      </ul>
    </div>

    <div class="close-popover">
      <a (click)="closePublicationPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="orderFilter.isApplied ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="orderFilter.isVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="orderTitleTpl"
    [nzPopoverContent]="orderBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon nzType="sort-ascending" nzTheme="outline"></i>
    <ng-container *ngIf="!orderFilter.isApplied">Ordenar</ng-container>
    <ng-container *ngIf="orderFilter.isApplied">{{ orderFilter.selected.label }}</ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #orderTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Ordenar por...</strong></span>
    </div>
  </ng-template>

  <ng-template #orderBodyTpl>
    <div class="popover-content">
      <ul class="order-list" nz-menu nzMode="inline" [nzInlineIndent]="16">
        <li
          nz-menu-item
          [nzSelected]="orderFilter.selected === option"
          (click)="onSelectOrder(option.value)"
          *ngFor="let option of orderFilter.options"
        >
          <i nz-icon [nzType]="option.icon" nzTheme="outline"></i>
          {{ option.label }}
        </li>
      </ul>
    </div>

    <div class="close-popover">
      <a (click)="closeOrderPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button class="clear-filters" nz-button nzType="link" nzShape="round" (click)="onClearFilters()">
    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
    Limpiar filtros
  </button>
</nz-header>
