<nz-header>
  <button
    nz-button
    [nzType]="appliedFilters.category ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="categoryVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="categoryTitleTpl"
    [nzPopoverContent]="categoryBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon [nzType]="selectedCategory.icon" nzTheme="outline"></i>
    {{ selectedCategory.name }}
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #categoryTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Elige una categoría en la que buscar</strong></span>
    </div>
  </ng-template>

  <ng-template #categoryBodyTpl>
    <div class="popover-content">
      <div nz-row nzGutter="16" nzType="flex">
        <div class="category-col" nz-col [nzXs]="8" [nzSm]="6" [nzMd]="4" *ngFor="let category of categories">
          <div class="category-btn">
            <a
              (click)="onSelectCategory(category.id)"
              class="category-link"
              [ngClass]="{ active: category === selectedCategory }"
            >
              <i class="category-icon" nz-icon [nzType]="category.icon" nzTheme="outline"></i>
              <span class="category-name">{{ category.name }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="close-popover">
      <a (click)="closeCategoryPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="appliedFilters.price ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="priceVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="priceTitleTpl"
    [nzPopoverContent]="priceBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon nzType="euro" nzTheme="outline"></i>
    <ng-container *ngIf="!appliedFilters.price">
      Precio
    </ng-container>
    <ng-container *ngIf="appliedFilters.price">
      {{ priceRange[0] | currency: 'EUR' }} - {{ priceRange[1] | currency: 'EUR' }}
    </ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #priceTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>¿Cuánto quieres pagar?</strong></span>
    </div>
  </ng-template>

  <ng-template #priceBodyTpl>
    <div class="popover-content">
      <nz-slider
        nzRange
        [nzMin]="priceLimits[0]"
        [nzMax]="priceLimits[1]"
        [(ngModel)]="priceRange"
        (ngModelChange)="onSelectPriceRange()"
      ></nz-slider>

      <div class="slider-inputs">
        <nz-input-number
          class="min-price"
          [nzMin]="priceLimits[0]"
          [nzMax]="priceRange[1]"
          [(ngModel)]="priceRange[0]"
          (ngModelChange)="updateSlider(); onSelectPriceRange()"
        ></nz-input-number>

        <nz-input-number
          class="max-price"
          [nzMin]="priceRange[0]"
          [nzMax]="priceLimits[1]"
          [(ngModel)]="priceRange[1]"
          (ngModelChange)="updateSlider(); onSelectPriceRange()"
        ></nz-input-number>
      </div>
    </div>

    <div class="close-popover">
      <a (click)="closePricePopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="appliedFilters.publicationDate ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="publicationVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="publicationTitleTpl"
    [nzPopoverContent]="publicationBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon nzType="clock-circle" nzTheme="outline"></i>
    Publicado hace
    <ng-container *ngIf="appliedFilters.publicationDate">{{ selectedPublication.label }}</ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #publicationTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Publicado hace...</strong></span>
    </div>
  </ng-template>

  <ng-template #publicationBodyTpl>
    <div class="popover-content">
      <ul class="order-list" nz-menu nzMode="inline" [nzInlineIndent]="16">
        <li
          nz-menu-item
          [nzSelected]="selectedPublication === option"
          (click)="onSelectPublicationDate(option.value)"
          *ngFor="let option of publicationOptions"
        >
          {{ option.label }}
        </li>
      </ul>
    </div>

    <div class="close-popover">
      <a (click)="closePublicationPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button
    nz-button
    [nzType]="appliedFilters.order ? 'primary' : 'default'"
    nzShape="round"
    nz-popover
    [(nzVisible)]="orderVisible"
    nzPopoverTrigger="click"
    [nzPopoverTitle]="orderTitleTpl"
    [nzPopoverContent]="orderBodyTpl"
    nzPopoverPlacement="bottomLeft"
  >
    <i nz-icon nzType="sort-ascending" nzTheme="outline"></i>
    <ng-container *ngIf="!appliedFilters.order">Ordenar</ng-container>
    <ng-container *ngIf="appliedFilters.order">{{ selectedOrder.label }}</ng-container>
    <i nz-icon nzType="arrow-down" nzTheme="outline"></i>
  </button>

  <ng-template #orderTitleTpl>
    <div class="popover-title">
      <span nz-text><strong>Ordenar por...</strong></span>
    </div>
  </ng-template>

  <ng-template #orderBodyTpl>
    <div class="popover-content">
      <ul class="order-list" nz-menu nzMode="inline" [nzInlineIndent]="16">
        <li
          nz-menu-item
          [nzSelected]="selectedOrder === option"
          (click)="onSelectOrder(option.value)"
          *ngFor="let option of orderOptions"
        >
          <i nz-icon [nzType]="option.icon" nzTheme="outline"></i>
          {{ option.label }}
        </li>
      </ul>
    </div>

    <div class="close-popover">
      <a (click)="closeOrderPopover()"><span nz-text nzType="secondary">Cancelar</span></a>
    </div>
  </ng-template>

  <button class="clear-filters" nz-button nzType="link" nzShape="round" (click)="onClearFilters()">
    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
    Limpiar filtros
  </button>
</nz-header>
