<nz-empty
  [nzNotFoundContent]="emptyDescriptionTpl"
  [nzNotFoundFooter]="emptyFooterTpl"
  *ngIf="!items.length && !loading"
>
  <ng-template #emptyDescriptionTpl>
    <span>No se encontraron artículos.</span>
  </ng-template>
  <ng-template #emptyFooterTpl>
    <ng-container *ngIf="mode === 'edit'">
      <button nz-button nzType="primary" [routerLink]="['/', 'catalog', 'upload']" *ngIf="itemsStatus !== 'sold'">
        Subir artículo
      </button>

      <button nz-button nzType="primary" [routerLink]="['/', 'catalog', 'items']" *ngIf="itemsStatus === 'sold'">
        Ver artículos a la venta
      </button>
    </ng-container>
  </ng-template>
</nz-empty>

<div nz-row [nzGutter]="16" *ngIf="items.length">
  <div
    class="item"
    [class.actions]="mode === 'edit' || mode === 'favorites'"
    nz-col
    [nzSm]="12"
    [nzLg]="8"
    [nzXl]="6"
    *ngFor="let item of items"
  >
    <a [routerLink]="['/', 'item', item.id]">
      <nz-card
        class="item-card"
        [class.tooltip-open]="itemTooltipOpen === item || itemConfirmOpen === item"
        [nzHoverable]="true"
        [nzCover]="coverTemplate"
        [nzActions]="
          mode === 'edit' && itemsStatus === ''
            ? [markAsReserved, markAsSold, actionEdit, actionDelete]
            : mode === 'edit' && itemsStatus === 'sold'
            ? [markAsForSale, actionEdit, actionDelete]
            : mode === 'favorites'
            ? [removeFavorite]
            : []
        "
      >
        <nz-card-meta nzTitle="{{ item.price | currency: 'EUR' }}" nzDescription="{{ item.title }}"></nz-card-meta>

        <div class="item-body">
          <ng-container *ngIf="mode === 'default' || mode === 'favorites'">
            <p class="item-description">{{ item.description }}</p>
          </ng-container>

          <ng-container *ngIf="mode === 'edit'">
            <span><i class="icon-calendar"></i> {{ item.creationDate }}</span>

            <div>
              <span><i nz-icon nzType="heart" nzTheme="outline"></i> {{ item.favorites }}</span>
              <span style="margin-left: 6px;"><i class="icon-eye"></i> {{ item.views }}</span>
            </div>
          </ng-container>
        </div>
      </nz-card>
    </a>

    <ng-template #coverTemplate>
      <nz-badge
        class="status-badge"
        [nzCount]="reservedIconTpl"
        title="Reservado"
        *ngIf="item.status === 'reserved'"
      ></nz-badge>
      <ng-template #reservedIconTpl>
        <i class="icon-bookmark"></i>
      </ng-template>

      <nz-badge class="status-badge" [nzCount]="soldIconTpl" title="Vendido" *ngIf="item.status === 'sold'"></nz-badge>
      <ng-template #soldIconTpl>
        <i class="icon-handshake-o"></i>
      </ng-template>

      <img class="item-img" [src]="apiUrl + '/images/items/' + item.images[0].image" />
    </ng-template>
    <ng-template #markAsForSale>
      <span
        (click)="$event.preventDefault(); $event.stopPropagation(); onMarkAsForSale(item)"
        nz-tooltip
        nzTooltipTitle="Poner a la venta"
        (nzVisibleChange)="onTooltipChange($event, item)"
      >
        <i class="icon-rotate-left"></i>
      </span>
    </ng-template>
    <ng-template #markAsReserved>
      <span
        (click)="$event.preventDefault(); $event.stopPropagation(); onMarkAsReserved(item)"
        nz-tooltip
        nzTooltipTitle="Marcar como reservado"
        (nzVisibleChange)="onTooltipChange($event, item)"
      >
        <i class="icon-bookmark"></i>
      </span>
    </ng-template>
    <ng-template #markAsSold>
      <span
        (click)="$event.preventDefault(); $event.stopPropagation(); showSellModal(item)"
        nz-tooltip
        nzTooltipTitle="Marcar como vendido"
        (nzVisibleChange)="onTooltipChange($event, item)"
      >
        <i class="icon-handshake-o"></i>
      </span>
    </ng-template>
    <ng-template #actionEdit>
      <span
        (click)="$event.preventDefault(); $event.stopPropagation(); onEditItem(item)"
        nz-tooltip
        nzTooltipTitle="Editar"
        (nzVisibleChange)="onTooltipChange($event, item)"
      >
        <i class="icon-pencil"></i>
      </span>
    </ng-template>
    <ng-template #actionDelete>
      <span
        nz-tooltip
        nzTooltipTitle="Eliminar"
        (nzVisibleChange)="onTooltipChange($event, item)"
        (click)="$event.preventDefault(); $event.stopPropagation()"
      >
        <span
          nz-popconfirm
          nzPopconfirmTitle="¿Seguro que quieres eliminar este artículo?"
          nzPopconfirmPlacement="bottom"
          nzOkText="Eliminar"
          nzCancelText="Cancelar"
          (nzVisibleChange)="onConfirmChange($event, item)"
          (nzOnConfirm)="onDeleteItem(item)"
        >
          <i class="icon-bin"></i>
        </span>
      </span>
    </ng-template>
    <ng-template #removeFavorite>
      <span class="remove-favorite" (click)="$event.preventDefault(); $event.stopPropagation(); onRemoveFavorite(item)">
        <i nz-icon nzType="heart" nzTheme="twotone" nzTwotoneColor="#F44336"></i>
        Quitar de favoritos
      </span>
    </ng-template>
  </div>
</div>

<nz-modal [(nzVisible)]="sellModalVisible" [nzFooter]="null" (nzOnCancel)="closeSellModal()">
  <div class="modal-back" *ngIf="hasConfirmedBuyer">
    <button nz-button nzType="link" [nzSize]="'large'" class="modal-back-arrow" (click)="onModalBack()">
      <i class="icon-arrow-left2"></i>
    </button>
  </div>

  <div class="modal-body">
    <ng-container *ngIf="!hasConfirmedBuyer">
      <span nz-text><strong class="header-title">¡Enhorabuena por la venta!</strong></span>
      <p>Elige quién ha sido el comprador de entre tus conversaciones</p>

      <div class="user-selector">
        <nz-select
          class="user-select"
          nzShowSearch
          nzAllowClear
          [nzNotFoundContent]="usersEmptyTpl"
          nzPlaceHolder="Selecciona el usuario"
          [(ngModel)]="selectedBuyer"
        >
          <nz-option nzCustomContent [nzLabel]="user.name" [nzValue]="user" *ngFor="let user of users">
            <nz-avatar nzIcon="user" nzSize="small" [nzSrc]="apiUrl + '/images/avatars/' + user.avatar"></nz-avatar>
            {{ user.name }}
          </nz-option>
        </nz-select>
        <ng-template #usersEmptyTpl>
          <nz-empty [nzNotFoundContent]="'No se encontraron usuarios'"></nz-empty>
        </ng-template>

        <button nz-button nzType="primary" (click)="onConfirmBuyer()">Continuar</button>
      </div>

      <nz-divider></nz-divider>

      <a nz-button nzType="link" (click)="onMarkAsSold(itemModalOpen, false)">Lo he vendido fuera de Marketplace</a>
    </ng-container>

    <ng-container *ngIf="hasConfirmedBuyer">
      <span nz-text><strong class="header-title">Valora cómo ha sido la venta</strong></span>

      <div class="user-info">
        <nz-avatar nzIcon="user" [nzSize]="36" [nzSrc]="apiUrl + '/images/avatars/' + selectedBuyer.avatar"></nz-avatar>

        <span nz-text>{{ selectedBuyer.name }}</span>
      </div>

      <div class="review">
        <span nz-text>Puntuación:</span>
        <nz-rate [(ngModel)]="rate" nzAllowHalf></nz-rate>
        <textarea
          nz-input
          [(ngModel)]="description"
          placeholder="Escribe tu opinión..."
          [nzAutosize]="{ minRows: 2, maxRows: 5 }"
        ></textarea>
      </div>

      <button class="confirm-sale" nz-button nzType="primary" (click)="onMarkAsSold(itemModalOpen, true)">
        Finalizar venta
      </button>
    </ng-container>
  </div>
</nz-modal>

<nz-pagination
  [nzHideOnSinglePage]="true"
  [(nzPageIndex)]="pagination.page"
  [(nzTotal)]="pagination.total"
  [(nzPageSize)]="pagination.limit"
  [nzShowTotal]="rangeTemplate"
  (nzPageIndexChange)="mode === 'favorites' ? loadFavorites() : loadItems()"
></nz-pagination>
<ng-template #rangeTemplate let-range="range" let-total>
  {{ range[0] }}-{{ range[1] }} de {{ total }} artículos
</ng-template>
