@import '../../../custom-styles.less';

.item {
  margin-bottom: 0.4rem;
}

.item-card {
  margin-top: 8px;
  border-radius: 10px;
}

.status-badge {
  position: absolute;
  top: 15px;
  left: 10px;
  z-index: 1000;
}

.status-badge i {
  font-size: 1.3rem;
  color: @color-white;
  background-color: @color-primary;
  border-radius: 50%;
  padding: 5px;
}

.item-img {
  object-fit: cover;
  height: 200px;
  border-radius: 10px 10px 0 0;
}

:host ::ng-deep .ant-card-meta-description,
.item-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

:host ::ng-deep .ant-card-meta-description {
  height: 42px;
  margin-bottom: 0.3rem;
  -webkit-line-clamp: 2;
}

.item-body {
  height: 47px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.item-description {
  -webkit-line-clamp: 3;
}

.item.actions .item-card:hover .item-body,
.item.actions .item-card.tooltip-open .item-body {
  display: none;
}

:host ::ng-deep .ant-card-actions {
  display: none;
  border-radius: 0 0 10px 10px;
}

:host ::ng-deep .item.actions .item-card:hover .ant-card-actions,
:host ::ng-deep .item.actions .item-card.tooltip-open .ant-card-actions {
  display: block;
}

.remove-favorite {
  color: @color-primary;
}

.modal-body {
  text-align: center;
}

.modal-body nz-divider {
  margin-bottom: 0.5rem;
}

.header-title,
.user-info {
  font-size: 1.2em;
}

.user-selector {
  margin-top: 1.5rem;
}

.user-select {
  width: 60%;
  text-align: left;
}

.user-info {
  margin-top: 0.5rem;
}

.user-info nz-avatar {
  margin-right: 0.3rem;
}

.review {
  margin-top: 1.5rem;
  text-align: left;
}

.review nz-rate {
  margin-left: 0.5rem;
}

.confirm-sale {
  margin-top: 1rem;
}

.modal-back {
  position: absolute;
  top: 0;
  left: 0;
}

.modal-back-arrow {
  width: 56px;
  height: 56px;
  border: 0;
  color: @color-secondary;
}
