<nz-content>
  <div class="breadcrumb">
    <nz-breadcrumb>
      <nz-breadcrumb-item>
        <a [routerLink]="['/']">Inicio</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        <a [routerLink]="['/', 'search']" [queryParams]="{ category: item.category.id }">{{ item.category.name }}</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>
        {{ item.title }}
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </div>

  <nz-card class="item-card" [nzTitle]="titleTpl" [nzType]="'inner'">
    <ng-template #titleTpl>
      <div class="card-header">
        <a class="header-user" [routerLink]="['/', 'user', item.user.id]">
          <nz-avatar nzIcon="user" [nzSrc]="apiUrl + '/images/avatars/' + item.user.avatar"></nz-avatar>

          <div class="user-info">
            <span nz-text>{{ item.user.name | truncate: 17 }}</span>
            <span nz-text nzType="secondary">{{ userItemsCount }} Productos</span>
          </div>
        </a>

        <div class="header-rate">
          <nz-rate [ngModel]="userScore.score" nzDisabled></nz-rate>
          <span nz-text class="rate-text">{{ userScore.reviews }} valoraciones</span>
        </div>

        <div class="header-buttons">
          <ng-container *ngIf="user && user.id === item.user.id">
            <button nz-button nzType="default" nzShape="round" [routerLink]="['/', 'catalog', 'edit', item.id]">
              <i class="icon-pencil"></i>
              <span class="edit-text">Editar</span>
            </button>
          </ng-container>

          <ng-container *ngIf="!user || user.id !== item.user.id">
            <button nz-button nzType="default" nzShape="round" (click)="onMarkAsFavorite()">
              <i
                nz-icon
                nzType="heart"
                [nzTheme]="isFavorited ? 'fill' : 'twotone'"
                nzTwotoneColor="#F44336"
                style="color: #f44336;"
              ></i>
            </button>

            <button nz-button nzType="primary" nzShape="round" style="margin-left: 4px;" (click)="onContactUser()">
              Contactar
            </button>
          </ng-container>
        </div>
      </div>
    </ng-template>

    <div nz-row [nzGutter]="16">
      <div nz-col [nzXs]="24" [nzMd]="12">
        <nz-badge
          class="status-badge"
          [nzCount]="reservedIconTpl"
          title="Reservado"
          *ngIf="item.status === 'reserved'"
        ></nz-badge>
        <ng-template #reservedIconTpl>
          <i class="icon-bookmark"></i>
        </ng-template>
        <nz-badge
          class="status-badge"
          [nzCount]="soldIconTpl"
          title="Vendido"
          *ngIf="item.status === 'sold'"
        ></nz-badge>
        <ng-template #soldIconTpl>
          <i class="icon-handshake-o"></i>
        </ng-template>

        <div class="carousel-controls" *ngIf="item.images.length > 1">
          <div class="control-left">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              class="carousel-arrow arrow-left"
              (click)="carousel.pre()"
            >
              <i class="icon-arrow-left2"></i>
            </button>
          </div>
          <div class="control-right">
            <button
              nz-button
              nzType="default"
              nzShape="circle"
              class="carousel-arrow arrow-right"
              (click)="carousel.next()"
            >
              <i class="icon-arrow-right2"></i>
            </button>
          </div>
        </div>

        <nz-carousel [nzDots]="false" [nzEnableSwipe]="false" #carousel>
          <div nz-carousel-content *ngFor="let img of item.images">
            <img [src]="apiUrl + '/images/items/' + img.image" />
          </div>
        </nz-carousel>

        <p class="item-location"><i class="icon-location"></i> {{ item.location.placeName }}</p>

        <div class="map" #map></div>
      </div>

      <div nz-col [nzXs]="24" [nzMd]="12">
        <h3 nz-title class="item-price">
          {{ item.price | currency: 'EUR' }}

          <nz-tag [nzColor]="'#29bf12'" *ngIf="item.condition === 'new'">Nuevo</nz-tag>
          <nz-tag [nzColor]="'#62a43f'" *ngIf="item.condition === 'like_new'">Como nuevo</nz-tag>
          <nz-tag [nzColor]="'#08BDBD'" *ngIf="item.condition === 'good'">Bueno</nz-tag>
          <nz-tag [nzColor]="'#ff9914'" *ngIf="item.condition === 'fair'">Aceptable</nz-tag>
          <nz-tag [nzColor]="'#FF5714'" *ngIf="item.condition === 'poor'">Malo</nz-tag>
        </h3>

        <h4 nz-title class="item-title">{{ item.title }}</h4>

        <nz-divider></nz-divider>

        <p class="item-description">{{ item.description }}</p>

        <nz-divider></nz-divider>

        <div class="item-stats">
          <span>{{ item.creationDate }}</span>
          <span>
            <span><i nz-icon nzType="heart" nzTheme="outline"></i> {{ item.favorites }}</span>
            <span style="margin-left: 6px;"><i class="icon-eye"></i> {{ item.views }}</span>
          </span>
        </div>

        <nz-divider></nz-divider>

        <share-buttons
          class="share-buttons"
          [theme]="'modern-dark'"
          [include]="['facebook', 'twitter', 'email', 'copy']"
          [show]="4"
          [title]="'Este artículo de Marketplace te puede interesar'"
          [description]="'Echa un vistazo a este artículo en Marketplace'"
          [autoSetMeta]="false"
        ></share-buttons>

        <ng-container *ngIf="!user || user.id !== item.user.id">
          <nz-divider></nz-divider>

          <nz-card class="quick-chat">
            <a class="header-user" [routerLink]="['/', 'user', item.user.id]">
              <nz-avatar nzIcon="user" [nzSrc]="apiUrl + '/images/avatars/' + item.user.avatar"></nz-avatar>

              <div class="user-info">
                <span nz-text>{{ item.user.name | truncate: 17 }}</span>
                <span nz-text nzType="secondary">{{ userItemsCount }} Productos</span>
              </div>

              <i class="icon-keyboard_arrow_right user-arrow"></i>
            </a>

            <nz-divider></nz-divider>

            <div class="card-body">
              <p>Enviar un mensaje al vendedor:</p>

              <div class="default-messages">
                <button
                  class="quick-message"
                  nz-button
                  nzType="primary"
                  nzShape="round"
                  *ngFor="let message of defaultMessages"
                  (click)="setMessage(message)"
                >
                  {{ message }}
                </button>
              </div>

              <form class="quickmessage-form" nz-form [formGroup]="messageForm" (ngSubmit)="sendQuickMessage()">
                <nz-form-item>
                  <nz-input-group [nzSuffix]="suffixIcon">
                    <nz-form-control>
                      <input
                        type="text"
                        nz-input
                        formControlName="message"
                        placeholder="Chat con {{ item.user.name }}"
                      />
                    </nz-form-control>
                  </nz-input-group>
                  <ng-template #suffixIcon>
                    <button class="send-btn" nz-button nzType="link">
                      <i class="icon-send"></i>
                    </button>
                  </ng-template>
                </nz-form-item>
              </form>
            </div>
          </nz-card>
        </ng-container>
      </div>
    </div>
  </nz-card>
</nz-content>
