<nz-layout class="main-layout">
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" nzWidth="200px" [nzBreakpoint]="'lg'">
    <ul class="sider-list" nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzTitle="Perfil" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'profile', 'info']">Mi Perfil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'profile', 'account']"> Cuenta</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Artículos" nzIcon="unordered-list">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'catalog', 'items']">En venta</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'catalog', 'sold']">Vendidos</a>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'chat']">
          <i class="icon-commenting"></i>
          <span [ngStyle]="{ opacity: isCollapsed ? 0 : 1 }">Mensajes</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'favorites']">
          <i class="icon-heart"></i>
          <span [ngStyle]="{ opacity: isCollapsed ? 0 : 1 }">Favoritos</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'reviews']">
          <i class="icon-star-full"></i>
          <span [ngStyle]="{ opacity: isCollapsed ? 0 : 1 }">Opiniones</span>
        </a>
      </li>
      <li nz-menu-item nzMatchRouter>
        <a [routerLink]="['/', 'statistics']">
          <i class="icon-stats-bars"></i>
          <span [ngStyle]="{ opacity: isCollapsed ? 0 : 1 }">Estadísticas</span>
        </a>
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-content>
      <ng-content></ng-content>
    </nz-content>
  </nz-layout>
</nz-layout>
