<div class="header">
  <h4 nz-title>¿Has olvidado la contraseña?</h4>
  <span nz-text>No te preocupes. Escribe tu dirección de email.</span>
</div>

<div class="main-content">
  <form nz-form [formGroup]="form" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon="user">
          <input type="text" nz-input formControlName="email" placeholder="Dirección de email" />
          <ng-template #emailErrorTpl let-control>
            <ng-container *ngIf="control.hasError('required')">
              Introduce tu email
            </ng-container>
            <ng-container *ngIf="control.hasError('email')">
              Introduce un email válido
            </ng-container>
          </ng-template>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <button nz-button nzBlock nzType="primary" [nzSize]="'large'" [nzShape]="'round'">
      Restablecer tu contraseña
    </button>
  </form>
</div>

<div class="footer">
  <button nz-button nzType="link" (click)="onLogin()">
    Inicia sesión
  </button>
</div>
