<app-sider>
  <div class="main-content">
    <h3 nz-title>Tu perfil</h3>
    <span nz-text>Aquí podrás ver y editar los datos de tu perfil</span>

    <nz-tabset nzLinkRouter [nzTabBarExtraContent]="extraTpl">
      <nz-tab>
        <a nz-tab-link [routerLink]="['/profile/info']">
          Perfil
        </a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link [routerLink]="['/profile/account']">
          Cuenta
        </a>
      </nz-tab>
    </nz-tabset>
    <ng-template #extraTpl>
      <div class="user-rate">
        <nz-rate [ngModel]="4" nzDisabled></nz-rate>
        <span class="rate-reviews">(50 opiniones)</span>
      </div>
    </ng-template>

    <router-outlet></router-outlet>
  </div>
</app-sider>
