<app-sider>
  <div class="main-content">
    <h3 nz-title>Tus artículos</h3>
    <span nz-text>Aquí puedes gestionar tus artículos en venta y los que ya has vendido</span>

    <nz-tabset nzLinkRouter [nzLinkExact]="false" [nzTabBarExtraContent]="extraTpl">
      <nz-tab>
        <a nz-tab-link [routerLink]="['/', 'catalog', 'items']">
          En venta
        </a>
      </nz-tab>
      <nz-tab>
        <a nz-tab-link [routerLink]="['/', 'catalog', 'sold']">
          Vendidos
        </a>
      </nz-tab>
    </nz-tabset>
    <ng-template #extraTpl>
      <div class="items-count">
        <span class="items-total" nz-text>
          <strong>{{ itemsCount }}</strong>
        </span>
        <p>artículos</p>
      </div>
    </ng-template>

    <app-items-catalog
      (itemsCount)="updateItemsCount($event)"
      [user]="user"
      [editMode]="true"
      [itemsStatus]="itemsStatus"
    ></app-items-catalog>
  </div>
</app-sider>
