<nz-header>
  <a routerLink="/">
    <nz-avatar [nzShape]="'square'" [nzSize]="'large'" [nzSrc]="'assets/brand-logo.png'"></nz-avatar>
  </a>

  <div class="header-collapse">
    <form nz-form class="search-box" [nzLayout]="'inline'" [formGroup]="form" (ngSubmit)="submitForm()">
      <nz-form-item class="category-item">
        <nz-form-control>
          <nz-select formControlName="category">
            <nz-option
              *ngFor="let category of categories"
              [nzValue]="category.id"
              [nzLabel]="category.name"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item class="keywords-item">
        <nz-form-control>
          <nz-input-group [nzSuffix]="suffixIconSearch">
            <input nz-input formControlName="keywords" placeholder="Buscar artículo..." />
            <ng-template #suffixIconSearch>
              <i class="icon-search"></i>
            </ng-template>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>
    </form>

    <div class="header-right">
      <a class="user-dropdown" nz-dropdown [nzDropdownMenu]="userMenu" *ngIf="user">
        <nz-avatar nzIcon="user" [nzSrc]="apiUrl + '/images/avatars/' + user.avatar"></nz-avatar>
        {{ user.name | truncate }}
        <i class="icon-keyboard_arrow_down"></i>
      </a>
      <nz-dropdown-menu #userMenu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'profile', 'info']">Mi perfil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'catalog', 'items']">Artículos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'chat']">Mensajes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'favorites']">Favoritos</a>
          </li>

          <li nz-menu-divider></li>

          <li nz-menu-item (click)="onLogout()">Cerrar sesión</li>
        </ul>
      </nz-dropdown-menu>

      <button nz-button nzType="default" nzShape="round" (click)="showAuthModal()" *ngIf="!user">
        Iniciar sesión
      </button>

      <nz-modal class="auth-modal" [(nzVisible)]="authModalIsVisible" [nzFooter]="null" (nzOnCancel)="closeAuthModal()">
        <div class="auth-modal-body">
          <div class="modal-back" *ngIf="authModalView !== 'oauth'">
            <button nz-button nzType="link" [nzSize]="'large'" class="modal-back-arrow" (click)="onAuthModalBack()">
              <i class="icon-arrow-left2"></i>
            </button>
          </div>

          <div [ngSwitch]="authModalView">
            <app-oauth *ngSwitchCase="'oauth'"></app-oauth>
            <app-login *ngSwitchCase="'login'"></app-login>
            <app-signup *ngSwitchCase="'signup'"></app-signup>
            <app-reset-password *ngSwitchCase="'reset'"></app-reset-password>
          </div>
        </div>
      </nz-modal>

      <button class="upload-item-btn" nz-button nzType="primary" nzShape="round" (click)="onUploadItem()">
        <i class="icon-plus"></i>
        Subir artículo
      </button>
    </div>
  </div>

  <div class="collapsed-menu">
    <a nz-dropdown [nzDropdownMenu]="collapsedMenu" [nzPlacement]="'bottomRight'">
      <i class="icon-list2"></i>
    </a>
    <nz-dropdown-menu #collapsedMenu="nzDropdownMenu">
      <ul nz-menu nzSelectable>
        <ng-container *ngIf="!user">
          <li nz-menu-item (click)="showAuthModal()">Iniciar sesión</li>
        </ng-container>

        <li nz-menu-item (click)="onUploadItem()">Subir artículo</li>

        <ng-container *ngIf="user">
          <li nz-menu-divider></li>

          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'profile', 'info']">Mi perfil</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'catalog', 'items']">Artículos</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'chat']">Mensajes</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="['/', 'favorites']">Favoritos</a>
          </li>

          <li nz-menu-divider></li>

          <li nz-menu-item (click)="onLogout()">Cerrar sesión</li>
        </ng-container>
      </ul>
    </nz-dropdown-menu>
  </div>
</nz-header>
