<app-sider>
  <div class="container">
    <div nz-row>
      <div nz-col [nzMd]="12">
        <canvas
          baseChart
          width="400"
          height="300"
          [datasets]="itemsMonthData"
          [labels]="itemsMonthLabels"
          [options]="itemsMonthOptions"
          [chartType]="lineChartType"
          *ngIf="!itemsMonthLoading && itemsCategoriesData.length"
        ></canvas>
      </div>

      <div nz-col [nzMd]="12">
        <canvas
          baseChart
          width="400"
          height="300"
          [data]="itemsCategoriesData"
          [labels]="itemsCategoriesLabels"
          [options]="itemsCategoriesOptions"
          [chartType]="pieChartType"
          *ngIf="!itemsCategoriesLoading && itemsCategoriesData.length"
        ></canvas>
      </div>
    </div>

    <nz-empty
      [nzNotFoundContent]="emptyDescriptionTpl"
      [nzNotFoundFooter]="emptyFooterTpl"
      *ngIf="!itemsCategoriesData.length"
    >
      <ng-template #emptyDescriptionTpl>
        <span>No se encontraron artículos.</span>
      </ng-template>
      <ng-template #emptyFooterTpl>
        <ng-container>
          <button nz-button nzType="primary" [routerLink]="['/', 'catalog', 'upload']">
            Subir artículo
          </button>
        </ng-container>
      </ng-template>
    </nz-empty>
  </div>
</app-sider>
